In [1]:
import pandas as pd
df = pd.read_csv("../data/SuperStoreSimple.csv")
df

      Row ID  Order Date  Customer Name     Sales     Profit
0          1  2021-01-03  Darren Powers    16.448     5.5512
1          2  2021-01-04  Phillina Ober     3.540    -5.4870
2          3  2021-01-04  Phillina Ober    11.784     4.2717
3          4  2021-01-04  Phillina Ober   272.736   -64.7748
4          5  2021-01-05     Mick Brown    19.536     4.8840
...      ...         ...            ...       ...        ...
7323    7324  2024-03-31  Henry Goldwyn    29.700     8.0190
7324    7325  2024-03-31        Jim Epp  2999.950  1439.9760
7325    7326  2024-03-31    Daniel Byrd   671.930   188.1404
7326    7327  2024-03-31   Denny Ordway    84.950    22.0870
7327    7328  2024-03-31   Chad McGuire   677.580   176.1708

[7328 rows x 5 columns]

In [2]:
df['Cost'] = df['Sales'] - df['Profit']
df

      Row ID  Order Date  Customer Name     Sales     Profit       Cost
0          1  2021-01-03  Darren Powers    16.448     5.5512    10.8968
1          2  2021-01-04  Phillina Ober     3.540    -5.4870     9.0270
2          3  2021-01-04  Phillina Ober    11.784     4.2717     7.5123
3          4  2021-01-04  Phillina Ober   272.736   -64.7748   337.5108
4          5  2021-01-05     Mick Brown    19.536     4.8840    14.6520
...      ...         ...            ...       ...        ...        ...
7323    7324  2024-03-31  Henry Goldwyn    29.700     8.0190    21.6810
7324    7325  2024-03-31        Jim Epp  2999.950  1439.9760  1559.9740
7325    7326  2024-03-31    Daniel Byrd   671.930   188.1404   483.7896
7326    7327  2024-03-31   Denny Ordway    84.950    22.0870    62.8630
7327    7328  2024-03-31   Chad McGuire   677.580   176.1708   501.4092

[7328 rows x 6 columns]