In [4]:
import pandas as pd
df = pd.read_csv("../data/SuperStoreSimple.csv")
df

      Row ID  Order Date  Customer Name     Sales     Profit
0          1  2021-01-03  Darren Powers    16.448     5.5512
1          2  2021-01-04  Phillina Ober     3.540    -5.4870
2          3  2021-01-04  Phillina Ober    11.784     4.2717
3          4  2021-01-04  Phillina Ober   272.736   -64.7748
4          5  2021-01-05     Mick Brown    19.536     4.8840
...      ...         ...            ...       ...        ...
7323    7324  2024-03-31  Henry Goldwyn    29.700     8.0190
7324    7325  2024-03-31        Jim Epp  2999.950  1439.9760
7325    7326  2024-03-31    Daniel Byrd   671.930   188.1404
7326    7327  2024-03-31   Denny Ordway    84.950    22.0870
7327    7328  2024-03-31   Chad McGuire   677.580   176.1708

[7328 rows x 5 columns]

In [5]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
columns= ['Sales', 'Profit']
df[columns] = scaler.fit_transform(df[columns])
df

      Row ID  Order Date  Customer Name     Sales    Profit
0          1  2021-01-03  Darren Powers  0.000702  0.440370
1          2  2021-01-04  Phillina Ober  0.000132  0.439634
2          3  2021-01-04  Phillina Ober  0.000496  0.440285
3          4  2021-01-04  Phillina Ober  0.012023  0.435682
4          5  2021-01-05     Mick Brown  0.000838  0.440325
...      ...         ...            ...       ...       ...
7323    7324  2024-03-31  Henry Goldwyn  0.001287  0.440534
7324    7325  2024-03-31        Jim Epp  0.132494  0.535999
7325    7326  2024-03-31    Daniel Byrd  0.029657  0.452543
7326    7327  2024-03-31   Denny Ordway  0.003728  0.441472
7327    7328  2024-03-31   Chad McGuire  0.029907  0.451745

[7328 rows x 5 columns]

In [3]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=5, random_state=42)
features = df[['Sales', 'Profit']]
kmeans.fit(features)
df['Cluster'] = kmeans.labels_
df

C:\Dev\Miniconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

      Row ID  Order Date  Customer Name     Sales    Profit  Cluster
0          1  2021-01-03  Darren Powers  0.000702  0.440370        3
1          2  2021-01-04  Phillina Ober  0.000132  0.439634        3
2          3  2021-01-04  Phillina Ober  0.000496  0.440285        3
3          4  2021-01-04  Phillina Ober  0.012023  0.435682        3
4          5  2021-01-05     Mick Brown  0.000838  0.440325        3
...      ...         ...            ...       ...       ...      ...
7323    7324  2024-03-31  Henry Goldwyn  0.001287  0.440534        3
7324    7325  2024-03-31        Jim Epp  0.132494  0.535999        2
7325    7326  2024-03-31    Daniel Byrd  0.029657  0.452543        0
7326    7327  2024-03-31   Denny Ordway  0.003728  0.441472        3
7327    7328  2024-03-31   Chad McGuire  0.029907  0.451745        0

[7328 rows x 6 columns]