In [6]:
import pandas as pd
pd.options.mode.chained_assignment = None

df = pd.read_csv("../data/SuperStore2024.csv")

In [7]:
df = pd.read_csv("../data/SuperStore2024.csv")
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,US-2021-103800,2021-01-03,2021-01-07,Standard Class,DP-13000,Darren Powers,Consumer,United States,Houston,...,77095,Central,OFF-PA-10000174,Office Supplies,Paper,"Message Book Wirebound Four 5 1/2"" X 4"" Forms/...",16.448,2,0.2,5.5512
1,2,US-2021-112326,2021-01-04,2021-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,3.540,2,0.8,-5.4870
2,3,US-2021-112326,2021-01-04,2021-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784,3,0.2,4.2717
3,4,US-2021-112326,2021-01-04,2021-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,272.736,3,0.2,-64.7748
4,5,US-2021-141817,2021-01-05,2021-01-12,Standard Class,MB-18085,Mick Brown,Consumer,United States,Philadelphia,...,19143,East,OFF-AR-10003478,Office Supplies,Art,Avery Hi-Liter EverBold Pen Style Fluorescent ...,19.536,3,0.2,4.8840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7323,7324,US-2024-160143,2024-03-31,2024-04-07,Standard Class,HG-14965,Henry Goldwyn,Corporate,United States,Los Angeles,...,90004,West,OFF-SU-10004231,Office Supplies,Supplies,Acme Tagit Stainless Steel Antibacterial Scissors,29.700,3,0.0,8.0190
7324,7325,US-2024-133263,2024-03-31,2024-04-02,Second Class,JE-15610,Jim Epp,Corporate,United States,Atlanta,...,30318,South,TEC-CO-10001449,Technology,Copiers,Hewlett Packard LaserJet 3310 Copier,2999.950,5,0.0,1439.9760
7325,7326,US-2024-159205,2024-03-31,2024-04-02,Second Class,DB-12910,Daniel Byrd,Home Office,United States,Henderson,...,42420,South,TEC-PH-10000526,Technology,Phones,Vtech CS6719,671.930,7,0.0,188.1404
7326,7327,US-2024-102771,2024-03-31,2024-04-05,Standard Class,DO-13435,Denny Ordway,Consumer,United States,New York City,...,10035,East,TEC-PH-10001536,Technology,Phones,Spigen Samsung Galaxy S5 Case Wallet,84.950,5,0.0,22.0870
7327,7328,US-2024-100524,2024-03-31,2024-04-02,Second Class,CM-12115,Chad McGuire,Consumer,United States,New York City,...,10011,East,TEC-PH-10002549,Technology,Phones,Polycom SoundPoint IP 450 VoIP phone,677.580,3,0.0,176.1708

In [8]:
df = df[['Row ID','Customer Name','Sales','Profit']]
df

      Row ID  Customer Name     Sales     Profit
0          1  Darren Powers    16.448     5.5512
1          2  Phillina Ober     3.540    -5.4870
2          3  Phillina Ober    11.784     4.2717
3          4  Phillina Ober   272.736   -64.7748
4          5     Mick Brown    19.536     4.8840
...      ...            ...       ...        ...
7323    7324  Henry Goldwyn    29.700     8.0190
7324    7325        Jim Epp  2999.950  1439.9760
7325    7326    Daniel Byrd   671.930   188.1404
7326    7327   Denny Ordway    84.950    22.0870
7327    7328   Chad McGuire   677.580   176.1708

[7328 rows x 4 columns]

In [9]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
columns= ['Sales', 'Profit']
df[columns] = scaler.fit_transform(df[columns])
df

      Row ID  Customer Name     Sales    Profit
0          1  Darren Powers  0.000702  0.440370
1          2  Phillina Ober  0.000132  0.439634
2          3  Phillina Ober  0.000496  0.440285
3          4  Phillina Ober  0.012023  0.435682
4          5     Mick Brown  0.000838  0.440325
...      ...            ...       ...       ...
7323    7324  Henry Goldwyn  0.001287  0.440534
7324    7325        Jim Epp  0.132494  0.535999
7325    7326    Daniel Byrd  0.029657  0.452543
7326    7327   Denny Ordway  0.003728  0.441472
7327    7328   Chad McGuire  0.029907  0.451745

[7328 rows x 4 columns]

In [10]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=5, random_state=42)
features = df[['Sales', 'Profit']]
kmeans.fit(features)
df['Cluster'] = kmeans.labels_
df

C:\Dev\Miniconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

      Row ID  Customer Name     Sales    Profit  Cluster
0          1  Darren Powers  0.000702  0.440370        0
1          2  Phillina Ober  0.000132  0.439634        0
2          3  Phillina Ober  0.000496  0.440285        0
3          4  Phillina Ober  0.012023  0.435682        0
4          5     Mick Brown  0.000838  0.440325        0
...      ...            ...       ...       ...      ...
7323    7324  Henry Goldwyn  0.001287  0.440534        0
7324    7325        Jim Epp  0.132494  0.535999        3
7325    7326    Daniel Byrd  0.029657  0.452543        2
7326    7327   Denny Ordway  0.003728  0.441472        0
7327    7328   Chad McGuire  0.029907  0.451745        2

[7328 rows x 5 columns]