In [22]:
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yfin
yfin.pdr_override()

In [23]:
df1 = pdr.get_data_yahoo('AAPL', start='2023-01-01', end='2024-03-15').reset_index()
df1['Ticker'] = 'AAPL'
df1 = df1[['Ticker','Date','Close']]
df1

[*********************100%%**********************]  1 of 1 completed

    Ticker       Date       Close
0     AAPL 2023-01-03  125.070000
1     AAPL 2023-01-04  126.360001
2     AAPL 2023-01-05  125.019997
3     AAPL 2023-01-06  129.619995
4     AAPL 2023-01-09  130.149994
..     ...        ...         ...
296   AAPL 2024-03-08  170.729996
297   AAPL 2024-03-11  172.750000
298   AAPL 2024-03-12  173.229996
299   AAPL 2024-03-13  171.130005
300   AAPL 2024-03-14  173.000000

[301 rows x 3 columns]

In [24]:
df2 = pdr.get_data_yahoo('GOOG', start='2023-01-01', end='2024-03-15').reset_index()
df2['Ticker'] = 'GOOG'
df2 = df2[['Ticker','Date','Close']]
df2

[*********************100%%**********************]  1 of 1 completed

    Ticker       Date       Close
0     GOOG 2023-01-03   89.699997
1     GOOG 2023-01-04   88.709999
2     GOOG 2023-01-05   86.769997
3     GOOG 2023-01-06   88.160004
4     GOOG 2023-01-09   88.800003
..     ...        ...         ...
296   GOOG 2024-03-08  136.289993
297   GOOG 2024-03-11  138.940002
298   GOOG 2024-03-12  139.619995
299   GOOG 2024-03-13  140.770004
300   GOOG 2024-03-14  144.339996

[301 rows x 3 columns]

In [25]:
df3 = pdr.get_data_yahoo('CRM', start='2023-01-01', end='2024-03-15').reset_index()
df3['Ticker'] = 'CRM'
df3 = df3[['Ticker','Date','Close']]
df3

[*********************100%%**********************]  1 of 1 completed

    Ticker       Date       Close
0      CRM 2023-01-03  134.779999
1      CRM 2023-01-04  139.589996
2      CRM 2023-01-05  136.339996
3      CRM 2023-01-06  140.509995
4      CRM 2023-01-09  147.100006
..     ...        ...         ...
296    CRM 2024-03-08  305.279999
297    CRM 2024-03-11  306.000000
298    CRM 2024-03-12  306.619995
299    CRM 2024-03-13  304.679993
300    CRM 2024-03-14  303.320007

[301 rows x 3 columns]

In [27]:
df = pd.concat([df1, df2, df3])
df

    Ticker       Date       Close
0     AAPL 2023-01-03  125.070000
1     AAPL 2023-01-04  126.360001
2     AAPL 2023-01-05  125.019997
3     AAPL 2023-01-06  129.619995
4     AAPL 2023-01-09  130.149994
..     ...        ...         ...
296    CRM 2024-03-08  305.279999
297    CRM 2024-03-11  306.000000
298    CRM 2024-03-12  306.619995
299    CRM 2024-03-13  304.679993
300    CRM 2024-03-14  303.320007

[903 rows x 3 columns]