In [10]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()

In [11]:
df = pdr.get_data_yahoo('AAPL', start='2023-01-01', end='2024-03-15').reset_index()
df['Ticker'] = 'AAPL'
df = df[['Ticker','Date','Close']]
df

[*********************100%%**********************]  1 of 1 completed

    Ticker       Date       Close
0     AAPL 2023-01-03  125.070000
1     AAPL 2023-01-04  126.360001
2     AAPL 2023-01-05  125.019997
3     AAPL 2023-01-06  129.619995
4     AAPL 2023-01-09  130.149994
..     ...        ...         ...
296   AAPL 2024-03-08  170.729996
297   AAPL 2024-03-11  172.750000
298   AAPL 2024-03-12  173.229996
299   AAPL 2024-03-13  171.130005
300   AAPL 2024-03-14  173.000000

[301 rows x 3 columns]