In [8]:
import pandas as pd
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()

In [9]:
df_ticker = pd.read_csv("../data/Ticker.csv")
df_ticker

  Ticker
0   TSLA
1   META
2   NVDA

In [10]:
tickers = df_ticker['Ticker'].tolist()
tickers

['TSLA', 'META', 'NVDA']

In [11]:
df = pd.DataFrame()

for ticker in tickers:
    df_temp = pdr.get_data_yahoo(ticker, start='2023-01-01', end='2024-03-15').reset_index()
    df_temp['Ticker'] = ticker
    df_temp = df_temp[['Ticker', 'Date', 'Close']]
    df = df._append(df_temp)

df

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

    Ticker       Date       Close
0     TSLA 2023-01-03  108.099998
1     TSLA 2023-01-04  113.639999
2     TSLA 2023-01-05  110.339996
3     TSLA 2023-01-06  113.059998
4     TSLA 2023-01-09  119.769997
..     ...        ...         ...
296   NVDA 2024-03-08  875.280029
297   NVDA 2024-03-11  857.739990
298   NVDA 2024-03-12  919.130005
299   NVDA 2024-03-13  908.880005
300   NVDA 2024-03-14  879.440002

[903 rows x 3 columns]